@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@/styles/animation.css';
@import '@/styles/hover.css';
@import '@/styles/github-markdown.css';

/* 阿里巴巴矢量图标库 */
@import url('@/styles/iconfont.css');

:root,
body.dark {
  /* background color */
  --background-color: #000;
  --background-color-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --blog-background-color: #111111;
  --blog-background-color-rgb: 17, 17, 17;
  --blog-box-shadow:
    2px 0 12px rgba(255, 255, 255, 0.3),
    0 0 12px rgba(34, 34, 34, 0.1),
    inset 0 0 8px rgba(34, 34, 34, 0.6);

  /* font color */
  --font-color: #fff;
  --font-color-rgb: 255, 255, 255;

  /* theme color */
  --theme-color: #8c4356;
  --theme-color-rgb: 140, 67, 86;
  --theme-color-slate-rgb: 231, 119, 150;
  --theme-color-line-rgb: 46, 19, 26;
  --scrollbar-track-bg: #000;
  --scrollbar-thumb-hover-bg: #a2506a;

  /* logo color */
  --logo-color: #fff;
  --logo-color-rgb: 255, 255, 255;

  /* nav color */
  --nav-color: #a0a0a0;
  --nav-color-rgb: 160, 160, 160;
  /* --nav-color-select: #ededed;
  --nav-color-select-rgb: 237, 237, 237; */

  /* menu color */
  --menu-color: #888;
  --menu-color-rgb: 136, 136, 136;

  --header-border-bottom: unset;
  --header-box-shadow: unset;

  --light-h4: #ccd6f6;
}

body.light {
  /* background color */
  --background-color: #fff;
  --background-color-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --blog-background-color: #fff;
  --blog-background-color-rgb: 255, 255, 255;
  --blog-box-shadow: 2px 0 12px rgba(255, 255, 255, 0.3);

  /* font color */
  --font-color: #000;
  --font-color-rgb: 0, 0, 0;

  /* theme color */
  --theme-color: #1e80ff;
  --theme-color-slate-rgb: 30, 128, 255;
  --theme-color-rgb: 117, 171, 242;
  --scrollbar-track-bg: #fff;
  --scrollbar-thumb-hover-bg: #4a8fff;

  /* logo color */
  --logo-color: #515767;
  --logo-color-rgb: 81, 87, 103;

  /* nav color */
  --nav-color: #515767;
  --nav-color-rgb: 81, 87, 103;
  /* --nav-color-select: #ededed;
  --nav-color-select-rgb: 237, 237, 237; */

  /* menu color */
  --menu-color: #515767;
  --menu-color-rgb: 81, 87, 103;

  --header-border-bottom: 1px solid #ccc;
  --header-box-shadow: 0 0 2px #888;

  --light-h4: #ccd6f6;
}

@media (prefers-color-scheme: light) {
  :root {
    /* background color */
    --background-color: #fff;
    --background-color-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    --blog-background-color: #fff;
    --blog-background-color-rgb: 255, 255, 255;
    --blog-box-shadow: 2px 0 12px rgba(255, 255, 255, 0.3);

    /* font color */
    --font-color: #000;
    --font-color-rgb: 0, 0, 0;

    /* theme color */
    --theme-color: #1e80ff;
    --theme-color-rgb: 30, 128, 255;

    --scrollbar-track-bg: #fff;
    --scrollbar-thumb-hover-bg: #4a8fff;

    /* logo color */
    --logo-color: #515767;
    --logo-color-rgb: 81, 87, 103;

    /* nav color */
    --nav-color: #515767;
    --nav-color-rgb: 81, 87, 103;
    /* --nav-color-select: #ededed;
    --nav-color-select-rgb: 237, 237, 237; */

    /* menu color */
    --menu-color: #515767;
    --menu-color-rgb: 81, 87, 103;

    --header-border-bottom: 1px solid #ccc;
    --header-box-shadow: 0 0 2px #888;

    --light-h4: #ccd6f6;
  }
}

:root {
  scroll-padding-top: 5rem;
}

body {
  counter-reset: section;
  font-family: Arial, sans-serif;
  color: rgb(var(--font-color-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

section {
  min-width: 50vw;
  height: calc(100vh - 5rem);
  margin: 0 auto;
  overflow: hidden;
}

section:last-child {
  height: calc(100vh - 10rem);
}

section>h1 {
  display: flex;
  -webkit-box-align: center;
  align-items: baseline;
  position: relative;
  width: 100%;
  font-size: clamp(1rem, 2vw, 3rem);
  white-space: nowrap;
}

section>h1::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 8px;
  color: rgb(var(--theme-color-slate-rgb));
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-size: clamp(1rem, 1.8vw, 3rem);
  font-weight: 400;
}

section>h1::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: rgb(var(--theme-color-line-rgb));
}

section .title h1 {
  font-size: 4.5rem;
  line-height: 6rem;
  color: rgb(var(--theme-color-slate-rgb));
  font-weight: 600;
}

section .title h2 {
  font-size: 4rem;
  line-height: 4rem;
  color: rgb(var(--theme-color-rgb));
  font-weight: 600;
}

section .title h4 {
  font-size: 1.2rem;
  /* color: var(--light-h4); */
  color: var(--logo-color);
}

/* ---- blog 列表 ---- */
.blog-wrapper {
  /* width: 960px; */
  width: 70vw;
  min-width: 30rem;
  padding: 20px 34px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* color: #fff; */
  background-color: rgba(var(--blog-background-color-rgb), 0.8);
  border-radius: 20px;
  box-shadow: var(--blog-box-shadow);
}

.blog-link-date {
  color: var(--nav-color);
  font-size: 0.85rem;
}

.blog-title {
  text-align: center;
  padding: 0.8rem 0;
  font-size: 2rem;
  color: var(--theme-color);
}

.blog-anchor {
  width: fit-content;
  position: fixed;
  top: 5rem;
  bottom: 5rem;
  right: 1rem;
  padding: .5rem;
  box-shadow: var(--blog-box-shadow);
}

.blog-anchor>.anchor {
  display: flex;
}

.blog-anchor>.anchor::before {
  position: relative;
  counter-increment: section 1;
  content: counter(section) ".";
  margin-right: 8px;
  /* color: rgb(var(--theme-color-slate-rgb)); */
  /* font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace; */
  /* font-size: clamp(1rem, 1.8vw, 3rem); */
  /* font-weight: 400; */
}

/* ---- 透明背景下模糊滤镜 ---- */
.opacity-bg-filter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  backface-visibility: hidden;
  perspective: 1000;
  z-index: -1;
  top: -1px;
  transform: translateZ(0);
}

/* ---- 自定义滚动条 ---- */
body::-webkit-scrollbar {
  width: 8px;
  /* 隐藏滚动条 */
  /* display: none; */
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--theme-color-rgb), 0.2);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-bg);
}

/* ---- 加载logo ---- */
#progress {
  stroke-dasharray: 269;
  stroke-dashoffset: 269;
}

.loading_animate_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  opacity: 0;
  font-weight: 600;
}

.copy-button {
  position: absolute;
  right: 1em;
  top: 0.5em;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.8s;
}

.copy-button:hover {
  opacity: 1;
}