@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@/styles/animation.css';
@import '@/styles/hover.css';

/* 阿里巴巴矢量图标库 */
@import url('@/styles/iconfont.css');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --theme-color: #8c4356;
  --theme-color-rgb: 140, 67, 86;
  --theme-background: #000;
  --theme-background-rgb: 0, 0, 0;
  --theme-nav-color: #a0a0a0;
  --theme-nav-color-rgb: 160, 160, 160;
  --theme-nav-color-select: #ededed;
  --theme-nav-color-select-rgb: 237, 237, 237;
  --theme-menu-color: #888;
  --theme-menu-color-rgb: 136, 136, 136;
  --section-width: 60rem;
  --light-h4: #ccd6f6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

section {
  /* width: var(--section-width); */
  height: calc(100vh - 88px - 88px);
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  line-height: 4rem;
  color: rgba(var(--theme-color-rgb, 0.8));
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  color: var(--light-h4);
}

.blog-list {
  max-width: 60rem;
}

/* ---- blog 列表 ---- */
.blog-wrapper {
  /* width: 960px; */
  width: 70vw;
  min-width: 30rem;
  padding: 20px 34px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  border-radius: 20px;
  box-shadow:
    2px 0 12px rgba(255, 255, 255, 0.3),
    0 0 12px rgba(34, 34, 34, 0.1),
    inset 0 0 8px rgba(34, 34, 34, 0.6);
}

.blog-link-date {
  color: var(--theme-nav-color);
  font-size: 0.85rem;
}

/* ---- 透明背景下模糊滤镜 ---- */
.opacity-bg-filter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  backface-visibility: hidden;
  perspective: 1000;
  z-index: -1;
  top: -1px;
  transform: translateZ(0);
}

/* ---- 自定义滚动条 ---- */
body::-webkit-scrollbar {
  width: 8px;
  background-color: #333;
}

body::-webkit-scrollbar-track {
  background-color: #666;
}

body::-webkit-scrollbar-thumb {
  background-color: #999;
}

/* ---- 加载logo ---- */
#progress {
  stroke-dasharray: 269;
  stroke-dashoffset: 269;
}

.loading_animate_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  opacity: 0;
  font-weight: 600;
}