/* ---- nav hover样式 ---- */
.FX_theme_nav_link span {
  transition: 0.5s;
}

.FX_theme_nav_link:hover span {
  color: var(--theme-color)
}

.theme_nav_selected {
  color: var(--theme-color) !important;
  position: relative;
}

.theme_nav_selected::before {
  content: '';
  position: absolute;
  top: calc(50% + 16px);
  left: 8px;
  right: 8px;
  height: 1px;
  background-color: var(--theme-color);
}

/* ---- blog列表标题 ---- */
.blog-h2 {
  font-size: 1.15rem;
  transition: all 0.5s;
}

.blog-h2:hover {
  color: var(--theme-color);
}