@import url('../public/iconfont/iconfont.css');
/* **** iconfont css ⬆️ **** */

.icon-logo {
  font-size: 1.5rem;
  transition-delay: 0.05s;
}

.icon-menu {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  color: var(--theme-color);
}

.icon-theme-btn {
  font-size: 1.4rem;
  cursor: pointer;
}

.icon-menu:hover {
  color: var(--theme-color);
}

.icon-menu-selected {
  color: var(--theme-color);
}
