@font-face {
  font-family: "iconfont"; /* Project id 4778511 */
  src: url('iconfont.woff2?t=1734070393749') format('woff2'),
       url('iconfont.woff?t=1734070393749') format('woff'),
       url('iconfont.ttf?t=1734070393749') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-phone:before {
  content: "\e60c";
}

.icon-random:before {
  content: "\ea7c";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-tianxiezuo:before {
  content: "\e60a";
}

.icon-fanhui:before {
  content: "\e643";
}

